@charset "UTF-8";

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F9F77C;
}

header {
    background-color: #333;
    padding: 10px 0;
}

.nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px; 
}

.navbar li {
    display: inline;
}

.navbar li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 14px 20px;
    display: block;
}

.navbar li a:hover {
    background-color: #575757;
    color: #fff;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
}

section {
    margin-bottom: 40px;
}

h2, h3 {
    color: #333;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

h3 {
    font-size: 24px;
    margin-bottom: 10px;
    padding-left: 5px;
}

ul {
    padding-left: 20px;
    list-style-type: square;
    margin-bottom: 20px;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    color: #0066cc;
    text-decoration: none;
    font-weight: bold;
}

ul li a:hover {
    text-decoration: underline;
}

p {
    text-align: left;
    color: #666;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.imagen1, #imagen-dos, #imagen3 {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 20px auto;
    border-radius: 8px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 10px;
}

th {
    background-color: #F9BE7C;
    text-align: left;
}

td {
    text-align: left;
}

aside {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 20px auto;
    max-width: 1200px;
   
}

aside h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

aside a {
    display: block;
    color: #0066cc;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #e6e6e6;
    border-radius: 4px;
}

aside a:hover {
    background-color: #d4d4d4;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-top: 2px solid #444;
    margin-top: 40px;
}

footer p {
    margin: 10px 0;
    color: white;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul li a {
    color: #ccc;
    text-decoration: none;
    font-weight: bold;
}

footer ul li a:hover {
    text-decoration: underline;
    color: #fff;
}

.texto-grueso {
    font-weight: bold;
}

form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input, form select, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form input[type="radio"], form input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

form input[type="button"], form input[type="submit"] {
    width: auto;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

form input[type="button"]:hover, form input[type="submit"]:hover {
    background-color: #45a049;
}

form div {
    margin-bottom: 20px;
}

form textarea {
    resize: vertical;
}

