<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Formulario</title>
		<link rel="stylesheet" href="css/styles.css"></link>
	</head>

	<body>
		<header>
			<nav class="nav">
	            <ul class="navbar">
	                <li><a href="index">Volver a menu de inicio</a></li>
	            </ul>
	        </nav>
		</header>

		<main>
			<h1>Formulario</h1>
			<form>
				<label for="DNI">DNI: </label>
				<input id="DNI" type="number" name="DNI" required placeholder="Ingrese su DNI"></input><br>
				
				<label for="nombres">Nombres: </label>
				<input id="nombres" type="text" name="nombres" required placeholder="Ingrese sus nombres"></input><br>
				
				<label for="apellidos">Apellidos: </label>
				<input id="apelidos" type="text" name="apellidos" required placeholder="Ingrese sus apellidos"></input><br>
				
				<label for="fechaDeNac">Fecha de nacimiento: </label>
				<input id="fechaDeNac" type="date" name="fechaDeNac" required placeholder="Ingrese su fecha de nacimiento"></input><br>
				
				<div>
					<label for="generoMasc">Masculino: </label>
					<input id="generoMasc" type="radio" value="Masculino" name="genero" required></input><br>
					
					<label for="generoFem">Femenino: </label>
					<input id="generoFem" type="radio" value="Femenino" name="genero" required></input><br>
					
					<label for="generoX">X: </label>
					<input id="generoX" type="radio" value="X" name="genero" required></input><br>
				</div>
				
				<label for="correoElectronico">Correo Electronico: </label>
				<input id="correoElectronico" type="email" name="correoElectronico" required placeholder="Ingrese su correo electronico"></input><br>
				
				<label for="domicilio">Domicilio: </label>
				<input id="domicilio" type="text" name="domicilio" placeholder="Ingrese su fecha de nacimiento"></input><br>
				
				<label for="provincia">provincia: </label>
				<select id="provincia" name="provincia" required>
					<option value="Jujuy">Jujuy</option>
					<option value="Salta">Salta</option>
					<option value="Tucuman">Tucuman</option>
					<option value="Chaco">Chaco</option>
					<option value="Misiones">Misiones</option>
				</select>
				
				<label for="celular">Celular: </label>
				<input id="celular" type="number" name="celular" required placeholder="Ingrese su numero de celular"></input><br>
				
				<label>Categorias de interes: </label>
				<div>
					<label for="InteresFutbol">Futbol:</label>
					<input id="InteresFutbol" type="checkbox" name="interes" required></input><br>
					
					<label for="InteresTurismo">Turismo:</label>
					<input id="InteresTurismo" type="checkbox" name="interes" required></input><br>
					
					<label for="InteresGastronomia">Gastronomia:</label>
					<input id="InteresGastronomia" type="checkbox" name="interes" required></input><br>
				</div>
				
				<label for="sugerencia">Sugerencias:</label>
				<input id="sugerencia" name="sugerencia" placeholder="Escriba sus comentarios" rows="10" cols="50"></input><br>
				
				<label for="password">Contraseña:</label>
				<input id="password" type="password" name="password" required placeholder="Ingrese su contraseña" maxlength="10" minlength="6"></input><br>
				
				<label for="password2">Ingrese nuevamente su contraseña:</label>
				<input id="password2" type="password" name="password2" required placeholder="Ingrese su contraseña" maxlength="10" minlength="6"></input><br>
				
				<label for="termYcond">Acepto los terminos y condiciones</label>
				<input id="termYcond" type="checkbox" name="termYcond" required></input><br>
				
				<label for="infoRelativa">Acepto recibir información relacionada a la empresa</label>
				<input id="infoRelativa" type="checkbox" name="infoRelativa" required></input><br>
				
				<input type="button" value="Cancelar">
				<input type="submit" value="Guardar">
			</form>
		</main>
		
		
		<footer>
			<p>© 2024 Mi Sitio Web.</p>
			<p>Correo Electrónico: EjemploUsuario@gmail.com</p>
	        <p>Redes Sociales:</p>
	        <ul>
	            <li><a href="https://www.facebook.com/">Facebook</a></li>
	            <li><a href="https://twitter.com/">Twitter</a></li>
	            <li><a href="https://www.instagram.com/">Instagram</a></li>
	        </ul>
		</footer>
	</body>

</html>