<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>TP N°3 - Reinoso Luciano</title>
<link rel="stylesheet" href="css/styles.css"></link>
</head>
<body>
<header>
        <nav class="nav">
            <ul class="navbar">
                <li><a href="#seccion1">Spring Tool Suite (STS)</a></li>
                <li><a href="#seccion2">Programación Visual</a></li>
                <li><a href="#seccion3">Java</a></li>
                <li><a href="formulario">Formulario</a></li>
            </ul>
        </nav>
</header>

<main>
		<section id="seccion1">
            <h2>1. Spring Tool Suite (STS)</h2>
            <ul>
            	<li><a href="#DescripcionSTS">Descripción</a></li>
            	<li><a href="#CaracteristicasSTS">Características principales</a></li> 
            	<li><a href="#IntegracionSTS">Integración con otros frameworks</a></li> 
            </ul>
            
            <a><img src=img/STSLogo.png alt="LogoSTS" class="imagen1"></a>
            
            <section id="DescripcionSTS">
            <h3 style="Color: black; font-size: 24px;" class="texto-grueso">Descripcion</h3>
            <p style="text-align: left; Color: red; font-size: 18px;" class="texto-grueso">STS es un entorno de desarrollo integrado (IDE) basado en Eclipse, diseñado específicamente para el desarrollo de aplicaciones basadas en el framework Spring.</p>
            </section>
            
            <section id="CaracteristicasSTS">
            <h3 style="Color: black; font-size: 24px;" class="texto-grueso">Caracteristicas principales</h3>
            <p style="text-align: left; Color: red; font-size: 18px;" class="texto-grueso">Ofrece soporte para la creación, prueba y despliegue de aplicaciones Spring de manera eficiente. Incluye herramientas para la configuración de proyectos, autocompletado de código, depuración y más.</p>
            </section>
            
            <section id="IntegracionSTS">
            <h3 style="Color: black; font-size: 24px;" class="texto-grueso">Integracion con otros frameworks</h3>
            <p style="text-align: left; Color: red; font-size: 18px;" class="texto-grueso">STS también ofrece soporte para otros frameworks relacionados con Spring, como Spring Boot, Spring Cloud y Spring MVC.</p>
            </section>
            
        </section>
        
        <section id="seccion2">
            <h2>2. Programacion Visual</h2>
            <ul>
            	<li><a href="#ConceptoPV">Concepto</a></li>
            	<li><a href="#BeneficiosPV">Beneficios</a></li>
            	<li><a href="#HyTPV">Herramientas y tecnologías</a></li>
            </ul>
        </section>
        
        <a><img src="img/PVimg.jpg" alt="PVilustracion" id="imagen-dos"></a>
        
        <section id="ConceptoPV">
        <h3 style="Color: black; font-size: 24px;" class="texto-grueso">Concepto</h3>
        <p style="text-align: left; Color: red; font-size: 18px;" class="texto-grueso">La programación visual se refiere a la creación de programas utilizando interfaces gráficas en lugar de código de programación textual.</p>
        </section>
        
        <section id="BeneficiosPV">
        <h3 style="Color: black; font-size: 24px;" class="texto-grueso">Beneficios</h3>
        <p style="text-align: left; Color: red; font-size: 18px;" class="texto-grueso">Permite a los desarrolladores crear interfaces de usuario de manera más intuitiva y visualmente atractiva. También facilita la comprensión y el mantenimiento del código para quienes no son programadores experimentados.</p>
        </section>
        
        <section id="HyTPV">
        <h3 style="Color: black; font-size: 24px;" class="texto-grueso">Herramientas y tecnologias</h3>
        <p style="text-align: left; Color: red; font-size: 18px;" class="texto-grueso">Hay varias herramientas y tecnologías disponibles para la programación visual, como IDEs con capacidades visuales, lenguajes específicos de dominio visual y frameworks para el desarrollo de interfaces de usuario.</p>
        </section>
        
        <section id="seccion3">
            <h2>3. Java</h2>
            <ul>
                <li><a href="#DescripcionJAVA">Descripción</a></li>
                <li><a href="#CaracteristicasJAVA">Características principales</a></li>
                <li><a href="#EcosistemaJAVA">Ecosistema</a></li>
            </ul>
            
        <a><img src="img/JAVAlogo.jpg" alt="LogoJAVA" id="imagen3"></a>
            
        <section id="DescripcionJAVA">
        <h3 style="Color: black; font-size: 24px;" class="texto-grueso">Descripcion</h3>
        <p style="text-align: left; Color: red; font-size: 18px;" class="texto-grueso">Java es un lenguaje de programación popular y ampliamente utilizado en el desarrollo de aplicaciones empresariales, móviles y web.</p>
        </section>
            
        <section id="CaracteristicasJAVA">
        <h3 style="Color: black; font-size: 24px;" class="texto-grueso">Caracteristicas Principales</h3>
        <p style="text-align: left; Color: red; font-size: 18px;" class="texto-grueso">Es un lenguaje orientado a objetos, portable y de alto rendimiento. Java se utiliza en una variedad de áreas, desde aplicaciones de escritorio hasta sistemas embebidos y servidores de aplicaciones.</p>
        </section>
        
        <table>
                <tr>
                    <th>Caracteristica</th>
                    <th>Descripcion</th>
                </tr>
                
                <tr>
                    <td>Orientado a objetos</td>
                    <td>Está organizado en torno a objetos en lugar de "eventos" y datos en lugar de lógica</td>
                </tr>
                
                <tr>
                	<td>Alto Rendimiento</td>
                	<td>Puede ejecutarse más rápido que otros lenguajes de programación gracias a su uso de la compilación just-in-time (JIT) y a la tecnología (JIT).</td>
                </tr>
                
                 <tr>
                	<td>Robusto</td>
                	<td>Java es robusto porque incorpora la gestión de excepciones. La gestión de excepciones ayuda a detectan y gestionan cualquier error inesperado que pueda producirse durante la ejecución del programa.</td>
                </tr>
            </table>
        
        <section id="EcosistemaJAVA">
        <h3 style="Color: black; font-size: 24px;" class="texto-grueso">Ecosistema</h3>
        <p style="text-align: left; Color: red; font-size: 18px;" class="texto-grueso">Java cuenta con un amplio ecosistema de herramientas y frameworks, como Spring Framework, Hibernate, Apache Struts, entre otros, que facilitan el desarrollo de aplicaciones Java.</p>
        </section>
        </section>
</main>

 <aside>
        <h2>Contenido Adicional</h2>
        <a href="https://www.java.com/es/">Pagina de java</a>
        <br>
        <a href="https://spring.io/tools">Pagina de Spring Tool Suite</a>   
</aside>

<footer>
		<p>© 2024 Mi Sitio Web.</p>
		<p>Correo Electrónico: EjemploUsuario@gmail.com</p>
        <p>Redes Sociales:</p>
        <ul>
            <li><a href="https://www.facebook.com/">Facebook</a></li>
            <li><a href="https://twitter.com/">Twitter</a></li>
            <li><a href="https://www.instagram.com/">Instagram</a></li>
        </ul>
</footer>
</body>
</html>
